/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font);
  font-variation-settings: "wght" var(--font-variation-wght);
  background-color: var(--background-color);
  display: flex;
  place-items: center;
  flex-direction: column;
  color: var(--color);
  background-image: var(--background-image);
  background-size: cover;
}
.header {
  margin-top: 102px;
  margin-bottom: 107px;
  width: clamp(375px, 50%, 1440px);

  @media (width <= 375px) {
    margin-bottom: 104px;
  }
}
.background {
  font-family: PressStart2P;
  height: 364px;
  flex-shrink: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 2px solid var(--color, #00cc14);
}

.logo-header {
  padding-bottom: 20px;
  font-size: clamp(49px, 5vw, 65px);
}

.header__title {
  font-size: clamp(14px, 5vw, 23px);
}

.theme-menu__list {
  position: relative;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 11px;
}

.theme-menu__button {
  outline: none;
  border: 0;
  background: transparent;
  margin-bottom: 14px;
  cursor: pointer;
  content: "▶";
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  margin-left: -20px;
  opacity: 0.6;
  color: var(--color);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  animation: arrow 0.5s ease-in-out infinite;
}

.card {
  width: clamp(375px, 50%, 1440px);
}

.card_icon {
  padding-bottom: 25px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding-right: 25px;
}

.card__icon-button {
  height: 39px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 2px;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--color, #000);
  outline-offset: -2px;
  transition: outline 0.3s ease;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.card__icon-button .core {
  fill: transparent;
  transition: fill 0.3s;
}

.card__icon-button:hover .core {
  fill: var(--color, #000);
}

.card__icon-button:active .core {
  fill: #ff0000;
}

.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s;
}

.card__icon-button:hover .main-body {
  fill: var(--color, #000);
}

.card__icon-button:active .main-body {
  fill: #ff0000;
}

.card-wrapper-list {
  border: 2px solid var(--color);
  background: var(--background-color);
  margin-bottom: 57px;
}

@supports (-webkit-text-stroke: 1px var(--background-color)) {
  .image-label {
    font-family: PressStart2P;
    font-size: 14px;
    opacity: 0.5;
    text-align: right;
    padding-right: 25px;
    margin-bottom: -40px;
    margin-top: 28px;
    z-index: 2;
    position: relative;
    -webkit-text-stroke: 1px var(--background-color);
    mix-blend-mode: hard-light;
  }
}

.image_wrapper {
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
  position: relative;
}

.image {
  width: 100%;
  max-height: 100%;
  background-size: cover;
  margin-bottom: -4px;
}

.card__title {
  font-size: 18px;
  padding-left: 10px;
}

.info-first {
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 27px;
}

.info-second {
  font-size: 18px;
  padding-top: 27px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.footer {
  padding-bottom: 105px;
}

.button-footer {
  position: relative;
  width: 335px;
  height: 51px;
  margin-bottom: 105px;
  border: 2px solid var(--color, #000);
  color: var(--color, #000);
  background: var(--background-color, #fff);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  @media (width <= 375px) {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 80px;
    padding-top: 8px;
    gap: 8px;
  }
}

.button-footer:focus-visible {
  border: 2px solid var(--color, #000);
  box-shadow: 2px 2px 0px var(--color, #000);
  outline: none;
  transition: box-shadow ease 0.3s;
}

.button-footer::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  width: 0%;
  height: 49px;
  background-color: var(--color, #000);
  transition: none;
}

.button-footer:hover .button__text {
  color: var(--background-color);
  animation: text ease-in-out 0.5s;
}

.button-footer:hover::after {
  width: 100%;
  background-color: var(--color, #000);
  transition: width 0.5s, background-color 0.5s ease-in-out;
}

.text_dialog {
  color: var(--color);
  font-family: PressStart2P;
  font-size: 14px;
  line-height: 150%;
}

.dialog_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
  padding-top: 32px;
}

.dialog_button {
  position: relative;
  border: 2px solid var(--color);
  background: var(--background-color);
  font-family: PressStart2P;
  font-size: 14px;
  color: var(--color);
  width: clamp(257px, 5vw, 293px);
  height: 38px;
  cursor: pointer;
}

.dialog_button:focus-visible {
  border: 2px solid var(--color, #000);
  box-shadow: 2px 2px 0px var(--color, #000);
  outline: none;
  transition: box-shadow ease 0.3s;
}

.dialog_button::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  width: 0%;
  height: 35px;
  background-color: var(--color, #000);
  transition: none;
}

.dialog_button:hover .button__text {
  color: var(--background-color);
  animation: text ease-in-out 0.5s;
}

.dialog_button:hover::after {
  width: 100%;
  background-color: var(--color, #000);
  transition: width 0.5s, background-color 0.5s ease-in-out;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color);
  background: var(--background-color);
}

.dialog:not([open]) {
  display: none;
}

.gialog_ikon {
  width: 39px;
  height: 39px;
  color: white;
}

.image1 {
  filter: sepia(100%);
  z-index: 1;
  position: relative;
}

.image2 {
  filter: invert(100%);
  z-index: 1;
  position: relative;
}

.image3 {
  filter: saturate(165%);
  z-index: 1;
  position: relative;
}

.image4 {
  filter: opacity(50%);
  z-index: 1;
  position: relative;
}

.image5 {
  filter: blur(2px);
  z-index: 1;
  position: relative;
}

.image6 {
  filter: brightness(150%);
  z-index: 1;
  position: relative;
}

.image7 {
  filter: hue-rotate(90deg);
  z-index: 1;
  position: relative;
}

.image8 {
  filter: sepia(1) contrast(2) brightness(100%);
  z-index: 1;
  position: relative;
}

.floppy_first {
  color: var(--color);
  width: 21px;
  height: 25px;
  @media (width <= 375px) {
    width: 28px;
    height: 28px;
  }
}

.floppy_second {
  color: var(--color);
}

.transform {
  transform: translate(19px, 7px);
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition: fill 0.3s;
}

.like-icon.is-liked .core {
  fill: #ff0000;
  transition: fill 0.3s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: bigger 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 39px;
  border: 2px solid var(--color);
  padding: 9px 17px;
  background: transparent;
  cursor: pointer;
  margin: 2px -1px 0 0;
}

.card__like-button:focus-visible {
  border: 2px solid var(--color);
  box-shadow: 2px 2px 0px var(--color);
  outline: none;
  transition: box-shadow ease 0.3s;
}

.card__like-button:hover .button__text {
  color: var(--background-color);
  animation: text ease-in-out 0.5s;
}

.card__like-button::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  width: 0%;
  height: 36px;
  background-color: var(--color);
  transition: none;
}

.card__like-button:hover::after {
  width: 100%;
  background-color: var(--color);
  transition: width 0.5s, background-color 0.5s ease-in-out;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--color);
  font-family: PressStart2P;
  font-size: 14px;
  font-style: normal;
  /* line-height: 12.6px; */
}
