/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-block-size: 100dvb;
  font-family: var(--main-font);
  display: flex;
  place-items: center;
  flex-direction: column;
  color: var(--color);
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header {
  margin-top: 102px;
  margin-bottom: 103px;
  width: 100%;
  max-width: 700px;
  min-width: 350px;
}

.background {
  font-family: var(--accent-font);
  flex-shrink: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 2px solid var(--color, #00cc14);
  padding-top: 136px;
}

.logo-header {
  padding-bottom: 20px;
  font-size: clamp(49px, 5vw, 65px);
}

.header__title {
  font-size: clamp(14px, 3vw, 23px);
  text-transform: uppercase;
}

.theme-menu__list {
  position: relative;
  font-size: 14px;
  padding: 25px 0 6px 20px;
}

.theme-menu__button {
  outline: none;
  border: none;
  background: transparent;
  padding-bottom: 14px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  display: block;
  background-color: var(--color, #000);
  inline-size: 92%;
  scale: 0;
  transition: scale 0.3s ease-in-out;
  transform-origin: left;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
  outline: none;
  transition: scale 0.3s ease-in-out;
  transform-origin: left;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  margin-left: -20px;
  opacity: 0.6;
  color: var(--color);
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.main {
  width: 100%;
  max-width: 696px;
  min-width: 350px;
}

.card_icon {
  padding-bottom: 25px;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.card__icon-button {
  height: 100%;
  max-height: 38px;
  background-color: transparent;
  border: 2px solid;
  border-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border-color: var(--color, #000);
  transition: border-color 0.3s ease;
  outline: none;
}

.card__icon-button:focus {
  outline: none;
}

.card-wrapper-list {
  border: none;
  outline: 2px solid var(--color);
  background: var(--background-color);
  margin-bottom: 52px;
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .image-label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.image-label {
  font-family: var(--accent-font);
  font-size: 14px;
  opacity: 0.5;
  text-align: right;
  padding-right: 25px;
  margin-bottom: -40px;
  margin-top: 28px;
  z-index: 2;
  position: relative;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 var(--backееgатнгтьround-color, #000),
    0 1px var(--color, #000), 1px 0 var(--color, #000),
    0 -1px var(--color, #000);
  font-weight: 400;
}

.image_wrapper {
  border: none;
  outline: 2px solid var(--color);
  position: relative;
  height: 100vw;
  max-height: 696px;
  width: 100%;
  max-width: 696vw;
}

.image {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--card-title-weight);
}

.info {
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 27px;
  gap: 27px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  font-variation-settings: "wght" var(--font-variation-width);
}

.footer {
  padding-bottom: 105px;
  width: 100%;
  max-width: 696px;
  min-width: 350px;
  display: flex;
  justify-content: center;
}

.button-footer {
  width: 100%;
  max-width: 339px;
  height: 51px;
  background-color: var(--background-color);
  gap: 8px;
}

.text_dialog {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  width: 100%;
  max-width: 234px;
}

.dialog_wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.dialog_button {
  background: var(--background-color);
  font-family: var(--accent-font);
  font-size: 14px;
  height: 38px;
  width: 100%;
  max-width: 293px;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color);
  background: var(--background-color);
  color: var(--color);
  width: 100%;
  max-width: 357px;
  overflow: hidden;
}

::backdrop {
  --background-color: #000;
}

.dialog::backdrop {
  background: var(--background-color);
  opacity: 0.75;
}

.dialog:not([open]) {
  display: none;
}

.image-sepia {
  filter: sepia(100%);
}

.image-invert {
  filter: invert(100%);
}

.image-saturate {
  filter: saturate(165%);
}

.image-opacity {
  filter: opacity(50%);
}

.image-blur {
  filter: blur(2px);
}

.image-brightness {
  filter: brightness(150%);
}

.image-hue-rotate {
  filter: hue-rotate(90deg);
}

.image-sepia-contrast-brightness {
  filter: sepia(1) contrast(2) brightness(100%);
}

.floppy {
  color: var(--color);
  z-index: 2;
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

.transform {
  transform: translate(19px, 7px);
}

.sparks {
  opacity: 0;
}

.card__like-button {
  top: 2px;
  width: 100%;
  max-width: 130px;
  height: 38px;
  background: transparent;
}

.button__text {
  position: relative;
  z-index: 2;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  mix-blend-mode: difference;
  color: var(--background-color-button);
}

.button {
  top: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color);
  cursor: pointer;
  overflow: hidden;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--color);
  transition: box-shadow ease 0.3s;
  outline: none;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

@media (width <= 375px) {
  .header {
    margin-bottom: 100px;
    inline-size: 100%;
    min-block-size: 323px;
  }

  .background {
    padding-top: 120px;
  }

  .main {
    inline-size: 100%;
  }

  .card-wrapper-list {
    margin-bottom: 50px;
    outline: none;
    border: 2px solid var(--color);
  }

  .footer {
    padding-bottom: 102px;
    inline-size: 100%;
  }

  .button-footer {
    flex-direction: column;
    width: 100%;
    max-width: 310px;
    height: 82px;
    padding-top: 8px;
  }

  .dialog_wrapper {
    gap: 20px;
  }

  .dialog {
    width: 100%;
    max-width: 341px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .dialog_button {
    width: 100%;
    max-width: 257px;
  }

  .header__title {
    font-size: 14px;
    font-weight: 400;
  }

  .image_wrapper {
    outline: none;
    border-top: 2px solid var(--color);
    border-bottom: 2px solid var(--color);
    max-width: 375px;
    width: 100%;
    max-height: 375px;
    height: 100%;
  }
}
